@{
    Layout = "_Layout1";
}
<!-- HERO
    ================================================== -->
<section class="page-banner-area page-about">
    <div class="overlay"></div>
    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-12 col-12 text-center">
                <div class="page-banner-content">
                    <h1 class="display-4 font-weight-bold">درباره ما</h1>
                    <p>با فعالیت شرکت فرجام رایان بیشتر آشنا شوید</p>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<!-- SECTIONS
================================================== -->
<!-- Working Process
================================================== -->
<section class="section" id="process">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title">
                        روش کاری ما
                    </h2>

                    <!-- Subheading -->
                    <p>
                        طراحی سایت یا اپ موبایل خود را به ما بسپارید.
                    </p>

                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6" data-aos="fade-up" data-aos-delay="60">
                <div class="process-block">
                    <img src="~/pics/process/process-1.jpg" alt="" class="img-fluid">
                    <h3> مشاوره و بررسی وتحلیل کسب و کار شما</h3>
                    <p>در تمامی مراحل انجام پروژه از پشتیبانی رایگان فرجام رایان بهره مند شوید.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6" data-aos="fade-up" data-aos-delay="80">
                <div class="process-block">
                    <img src="~/pics/process/process-2.jpg" alt="" class="img-fluid">
                    <h3> طراحی و پیاده سازی با نظارت شما</h3>
                    <p>با توجه به نیازسنجی های صورت گرفته، وب سایت  یا اپ شما طراحی و پیاده سازی خواهد شد.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="process-block">
                    <img src="~/pics/process/process-3.jpg" alt="" class="img-fluid">
                    <h3>پشتیبانی و توسعه</h3>
                    <p>پس از تکمیل و تایید وب سایت توسط شما، نوبت به پشتیبانی و توسعه وب سایت می رسد.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Projects
================================================== -->

<section class="section" id="projects-wrap">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h1 class="text-white">تیم متخصص و حرفه ای ما تمامی مراحل طراحی و توسعه برنامه یا سایت شما را انجام می دهد</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="lead text-white"> بیش از 6 سال تجربه برنامه نویسی تیم ما خیال شما را بابت کیفیت کار ارائه شده راحت می کند</p>
            </div>
        </div>
    </div>
</section>

<section id="projects" class="section-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6 mb-5" data-aos="fade-up" data-aos-delay="100">
                <div class="single-project">
                    <img src="/pics/projects/p-1.jpg" alt="" class="img-fluid">
                    <div class="project-content">
                        <h4>کار تیمی</h4>
                        <p>در فرجام رایان هر بخش از پروژه توسط متخصصان همان حوزه انجام می شود.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mb-5" data-aos="fade-up" data-aos-delay="70">
                <div class="single-project">
                    <img src="/pics/projects/p-4.jpg" alt="" class="img-fluid">
                    <div class="project-content">
                        <h4>طراحی اصولی و استاندارد</h4>
                        <p>ما همواره سعی داریم با اصول و استانداردهای روز دنیا خدمات خود را ارائه دهیم.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8" data-aos="fade-up" data-aos-delay="100">
                <div class="single-project">
                    <img src="/pics/projects/p-3.jpg" alt="" class="img-fluid">
                    <div class="project-content">
                        <h4>زمان بندی منظم و دقیق</h4>
                        <p>تیم فرجام رایان حساسیت بالایی بر زمان بندی انجام پروژه ها دارد.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-4">
            <div class="col-lg-7 col-md-12 col-sm-12 ">
                <div class="single-project">
                    <img src="/pics/bg/banner_bg.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 ">
                <div class="project-content-block">
                    <h4>چرا فرجام رایان؟</h4>
                    <h2> فرجام رایان فعالیت خود را از سال 1394 آغاز کرده است.</h2>
                    <p>شرکت فرجام رایان متشکل از تیم های برنامه نویسی Back End و Front End و Mobile و UI/UX می باشد  </p>
                    <p>تمامی مراحل پروژه شما توسط حرفه ای ترین تیم ها تولید می گردد</p>
                </div>
            </div>
        </div>
    </div>
</section>