@{
    ViewData["Title"] = "خدمات ما";
    Layout = "_Layout1";
}

<!-- HERO
    ================================================== -->
<section class="page-banner-area page-service">
    <div class="overlay"></div>
    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-12 col-12 text-center">
                <div class="page-banner-content">
                    <h1 class="display-4 font-weight-bold">خدمات ما</h1>
                    <p>با خدمات شرکت بیشتر آشنا شوید</p>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<!-- SECTIONS
================================================== -->
<!-- SERVICE-1
================================================== -->
<section class="section" id="service">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 pl-4 text-center">
                <div class="service-heading">
                    <h1>برنامه نویسی، طراحی سایت، اپلیکیشن موبایل و آموزش برنامه نویسی</h1>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="60">
                <div class="service-block media">
                    <div class="service-icon">
                        <i class="ti-reload"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>آموزش انواع زبان های برنامه نویسی</h4>
                        <p>برنامه نویسی را با متخصصان واقعی و در شرکت برنامه نویسی بیاموزید</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-3 col-md-6" data-aos="fade-up" data-aos-delay="60">
                <div class="service-block media">
                    <div class="service-icon">
                        <i class="ti-cloud"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>بالاترین کیفیت نرم افزاری</h4>
                        <p>قانون فرجام رایان همیشه استفاده از جدیدترین تکنولوژی است</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-3 col-md-6" data-aos="fade-up" data-aos-delay="60">
                <div class="service-block media ">
                    <div class="service-icon">
                        <i class="ti-world"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>برنامه نویسی موبایل</h4>
                        <p>برای کسب و کارتان اپ موبایل داشته باشید</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-3 col-md-6" data-aos="fade-up" data-aos-delay="60">
                <div class="service-block media">
                    <div class="service-icon">
                        <i class="ti-server"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>پشتیبان گیری روزانه از اطلاعات شما</h4>
                        <p>نگران پاک شدن اطلاعات یا خرابی هارد دیسک خود نباشید</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="60">
                <div class="service-block media">
                    <div class="service-icon">
                        <i class="ti-world"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>سئو و بهینه سازی</h4>
                        <p>در موتورهای جستجو اولین نتیجه باشید</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="60">
                <div class="service-block media">
                    <div class="service-icon">
                        <i class="ti-cloud"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>پشتیبانی رایگان</h4>
                        <p>کارشناسان ما به صورت شبانه روزی آماده ارائه پشتیبانی هستند.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="pl-3">اطلاعات بیشتری نیاز دارید؟ <a href="#">با ما تماس بگیرید</a></p>
            </div>
        </div>
    </div>
</section>