<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <meta name="description" content="طراحی و پیاده سازی توسط گروه فرجام رایان">
    <meta name="keywords" content="، رفسنجان، تدریس برنامه نویسی، ،کلاس برنامه نویسی،رفسنجان، برنامه نویسی، طراحی وب سایت ">
    <meta name="author" content="farjamrayan.com">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/themify/themify-icons.css">
    <link rel="stylesheet" href="/css/Pe-icon-7-stroke.css">

    <link rel="stylesheet" href="/css/aos.css" />
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slick-theme.css">
    <link rel="stylesheet" href="/css/all.css">
                                 
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body class="rtl">
    <!-- LOADER TEMPLATE -->
    <div id="page-loader">
        <div class="loader-icon fa fa-spin colored-border"></div>
    </div>


    <!--Nav bar section-->

    <div class="logo-bar d-none d-md-block d-lg-block bg-light" id="banner-9">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo d-none d-lg-block">
                        <!-- Brand -->
                        <a class="navbar-brand js-scroll-trigger" href="index-3.html">
                            <h2>درباره شرکت فرجام رایان</h2>
                        </a>
                    </div>
                </div>

                <div class="col-lg-8 justify-content-end ml-lg-auto d-flex col-12">
                    <!-- Contact Info -->
                    <div class="top-info-block d-inline-flex">
                        <div class="icon-block">
                            <i class="ti-mobile"></i>
                        </div>
                        <div class="info-block">
                            <h5 class="font-weight-500">تلفن تماس</h5>
                            <p>09215506570</p>
                        </div>
                    </div>
                    <div class="top-info-block d-inline-flex">
                        <div class="icon-block">
                            <i class="ti-email"></i>
                        </div>
                        <div class="info-block">
                            <h5 class="font-weight-500">پست الکترونیک</h5>
                            <p>admin@farjamrayan.com</p>
                        </div>
                    </div>
                    <div class="top-info-block d-inline-flex">
                        <div class="icon-block">
                            <i class="ti-time"></i>
                        </div>
                        <div class="info-block">
                            <h5 class="font-weight-500">ساعات کار</h5>
                            <p>همه روزه 9 الی 20</p>
                        </div>
                    </div>
                    <!-- Contact Info -->
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile Navbar
    ================================================= -->
    <div class="main-navigation" id="mainmenu-area">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav navbar-togglable">

                <a class="navbar-brand d-lg-none d-block" href="index-3.html">
                    <h4>درباره ما</h4>
                </a>
                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>

                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <!-- Links -->
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a href="/home/index" class="nav-link js-scroll-trigger">
                                صفحه اصلی
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/home/about" class="nav-link js-scroll-trigger">
                                درباره ما
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/home/service" class="nav-link js-scroll-trigger">
                                خدمات
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/Blogs/BlogPosts" class="nav-link js-scroll-trigger"> بلاگ </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Videos/VideoPosts" class="nav-link js-scroll-trigger"> ویدئوهای آموزشی </a>
                        </li>
                        <li class="nav-item">
                            <a href="/home/contact" class="nav-link"> تماس با ما </a>
                        </li>
                    </ul>

                    <ul class="ml-lg-auto list-unstyled m-0 px-4">
                        <li><a href="/home/contact" class="btn btn-white btn-circled">درخواست مشاوره</a></li>
                    </ul>
                </div> <!-- / .navbar-collapse -->
            </nav>
        </div> <!-- / .container -->
    </div>
   


    <!-- FOOTER
        ================================================== -->
    <footer class="section" id="footer">
        <div class="overlay footer-overlay"></div>
        <!-- Content -->
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-lg-4 col-sm-12">
                    <div class="footer-widget">
                        <!-- Brand -->
                        <a href="#" class="footer-brand text-white"> شرکت فنی و مهندسی فرجام رایان </a>
                        <p>
                            شرکت فرجام رایان از سال 94 تاسیس گردیده است و در طی این سالها همیشه با جدیدترین متد های برنامه نویسی مشغول به آموزش و برنامه نویسی بوده است.
                        </p>
                    </div>
                </div>

             

                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget">
                        <h3>لینک های مفید</h3>
                        <!-- Links -->
                        <ul class="footer-links">
                            <li>
                                <a href="/home/about"> درباره ما </a>
                            </li>

                            <li>
                                <a href="/home/about"> تماس با پشتیبانی </a>
                            </li>
                            <li>
                                <a href="/blogs/BlogPosts">وبلاگ </a>
                            </li>
                            <li>
                                <a href="~/Videos/VideoPosts"> ویدئوهای آموزشی </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget">
                        <h3>ما را دنبال کنید</h3>
                        <!-- Links -->
                        <ul class="list-unstyled footer-links">
                            <li>
                                <a href="#"><i class="fab fa-github"></i>گیت هاب</a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i>اینستاگرام</a>
                            </li>

                            <li>
                                <a href="#"><i class="fab fa-linkedin"></i>لینکدین</a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-youtube"></i>آپارات</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- / .row -->

            <div class="row text-left pt-5">
                <div class="col-lg-12">
                    <!-- Copyright -->
                    <p class="footer-copy">
                        &copy; طراحی و پیاده سازی توسط
                        <span class="current-year">
                            <a href="http://farjamrayan.com/" target="_blank">farjamrayan.com</a>
                        </span>
                    </p>
                </div>
            </div>
            <!-- / .row -->
        </div>
        <!-- / .container -->
    </footer>

    <!--  Page Scroll to Top  -->
    <a class="scroll-to-top js-scroll-trigger" href="#banner-9">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Global JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>

    <!-- Plugins JS -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/aos.js"></script>

    <!-- Slick JS -->
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/slick.min.js"></script>
    <!-- Theme JS/ -->
    <script src="/js/scripts.js"></script>
</body><!-- This template has been downloaded from Webrubik.com -->
</html>